@model IEnumerable<OneBitTask.Web.ViewModels.UserViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html> 
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Users</h2>
        @foreach (var user in Model)
        {
            <div class="row">
                <div class="col-md-4">
                    <div>
                        Name: @user.FirstName @user.LastName
                    </div>
                    <div>
                        Telephone: @user.Telephone
                    </div>
                    <div>
                        Sex: @user.Sex
                    </div>
                    <div id="status">
                        <span>Status: @user.Status</span>
                        <button value="@user.Id" class="btnChangeStatus btn btn-info">Change Status</button>
                    </div>
                    <button value="@user.Id" id="@user.Id" class="btnDelete btn btn-danger">Delete</button>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail" src="@user.PhotoUrl" alt="UserPhoto" />
                </div>
            </div>
        }
    </div>
    <script src="~/Scripts/custom.js"></script>
</body>
</html>
